default:
  tags:
    - nix
  before_script: |
    mkdir -p ~/.config/nix
    echo "experimental-features = nix-command flakes" > ~/.config/nix/nix.conf

flake-check:
  stage: build
  script: |
    nix flake check

deploy:
  stage: deploy
  only: 
    - master
  variables:
    CI_NIX_UPDATE_INPUT: discord-intern-bot
  trigger:
    project: fscs/teenix
    strategy: depend
